<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Ray generation -->
    <add key="MIN_RAY_LENGTH" value="0.01" />
    <add key="MAX_RAY_LENGTH" value="10000.0" />
    <add key="MAX_BOUNCES" value="4" />
    <add key="SAMPLES_PER_PIXEL" value="16" />
    
    <!-- Camera -->
    <add key="EXPOSURE" value="0.5" />
    <add key="FIELD_OF_VIEW" value="90.0" />
    
    <!-- Output -->
    <add key="IMAGE_WIDTH" value="1280" />
    <add key="IMAGE_HEIGHT" value="720" />
    <add key="SAVE_DIRECTORY" value="./" />
    <add key="FILE_NAME" value="TraceSharp_output" />
    
    <!-- Unit testing -->
    <add key="SAMPLE_STRING_VALUE" value="Tahar" />
    <add key="SAMPLE_INT_VALUE" value="21" />
    <add key="SAMPLE_DOUBLE_VALUE" value="20.20" />
  </appSettings>
</configuration>
